# Exercises for part I - Try it at home

## List
 
1. Create a list of numbers from 1 to 10

In [55]:
a = list(range (1,10))
a

[1, 2, 3, 4, 5, 6, 7, 8, 9]

2. Append to the list the number 20

In [56]:
a.append(20)
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 20]

3. Insert two zeros after the fourth place of the list

In [57]:
a.insert(4,0)
a.insert(5,0)
a

[1, 2, 3, 4, 0, 0, 5, 6, 7, 8, 9, 20]

4. Sort the list in reverse order

In [47]:
a.sort(reverse=True)
a

[20, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0, 0]

5. Remove the last two items from the list

In [48]:
a.pop()
a.pop()
a

[20, 9, 8, 7, 6, 5, 4, 3, 2, 1]

6. Invert the order of the list

In [49]:
a.reverse()
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 20]

7. How many items has the list?

In [63]:
len(a)

12

8. Give the minimum, maximum and the sum of all the items in the list

9. What will happen if you multiply the list by 2?

In [64]:
a * 2

[1, 2, 3, 4, 0, 0, 5, 6, 7, 8, 9, 20, 1, 2, 3, 4, 0, 0, 5, 6, 7, 8, 9, 20]

10. Can you divide the list by 3?

NO

# Tupples
 
1. Create a tupple with three characters and four numbers

2. Append two booleans (false, true) to the tupple

3. Retrieve the third to sixth items from the tupple

4. Divide the tupple by data type and create a list for each, then create a muttable tupple using these lists

# Sets
 
1. Create a set using the following paragraph:
 
<quote>
"Shallow copy is a bit-wise copy of an object. A new object is created that has an exact copy of the values in the original object"
<quote>
 
Note: Each part of the set must be a word, not a character!

2. Do you see something wierd in this set? What? How can you prevent that?

# Dictionary
 
1. Generate a dictionary from the following table:

<table>
    <tr> <th> EmployeeID </th> <th> Name </th> <th> Position </th> <th> Phone </th> </tr>
    <tr> <td> 1020 </td> <td> Harry Smith </td> <td> Sales Manager </td> <td> 030-223.65.44 </td> </tr>
    <tr> <td> 2201 </td><td> Margaret Holsum </td> <td> Sales Representative </td> <td> 030-223.64.12 </td> </tr>
    <tr> <td> 3320 </td><td> Lasly Howard </td> <td> Human Resources </td> <td> 030-223.83.33 </td> </tr>
    <tr> <td> 8111 </td><td> Larry Johnson </td> <td> Project Manager </td> <td> 030-224.22.00 </td> </tr>
    <tr> <td> 2733 </td><td> Hellen Young </td> <td> Customer Service </td> <td> 030-223.03.20 </td> </tr>
</table>

1. Get all the keys of the dictionary

2. Get all the values of the dictionary

3. Show the third row of the table by calling the dictionary using the respective EmployeeID

# Loop programming in python
 
1. Write a script that shows all the primary numbers from 1 to 100. Use for.. loop and if..else

In [50]:
n=100
for i in range(n-1):
    isPrime = True
    num = i + 2
    for temp in range(int(num/2-1)):
        checkIfDev = temp + 2
        if (num % checkIfDev == 0):
            isPrime = False
            break
    if isPrime:
        print ("Prime number is: %d" % num)

Prime number is: 2
Prime number is: 3
Prime number is: 5
Prime number is: 7
Prime number is: 11
Prime number is: 13
Prime number is: 17
Prime number is: 19
Prime number is: 23
Prime number is: 29
Prime number is: 31
Prime number is: 37
Prime number is: 41
Prime number is: 43
Prime number is: 47
Prime number is: 53
Prime number is: 59
Prime number is: 61
Prime number is: 67
Prime number is: 71
Prime number is: 73
Prime number is: 79
Prime number is: 83
Prime number is: 89
Prime number is: 97

2. Write a different solution to the problem in the last question, but using while.. in place of for..

In [51]:
def isPrime(num):
    if (num == 1):
        return False
    checkUntil = num/2
    i=2
    while i <= checkUntil:
        if (num % i == 0):
            return False
        i = i + 1
    return True


n = 100
i = 1
while i<= n:
    if isPrime(i):
        print ("Prime: %d" % i)
    i = i + 1

Prime: 2
Prime: 3
Prime: 5
Prime: 7
Prime: 11
Prime: 13
Prime: 17
Prime: 19
Prime: 23
Prime: 29
Prime: 31
Prime: 37
Prime: 41
Prime: 43
Prime: 47
Prime: 53
Prime: 59
Prime: 61
Prime: 67
Prime: 71
Prime: 73
Prime: 79
Prime: 83
Prime: 89
Prime: 97